*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
/* SEÇÃO INICIAL */
#topo{
    background-color: lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}
    .topic1{
        font-family: "Fabriga";
        font-weight: 700;
        font-size: 14px;
        justify-content: space-around;
        color: black;
        width: 80%;
        display: flex;
}
    .topic2{
        font-family: 'Rubik', sans-serif;
        background-color: #25D366;
        color: white;
        width: 200px;
        height: 30px;
        border: 0px;
        border-radius: 10px;
        font-weight: bolder;
        cursor: pointer;
        margin-right: 1%;
}
        .topic2:hover{
            background-color: #5ad888;
            transform: translateY(-1px);
            transition: 1s;
            box-shadow: 0px 15px 20px #c0c0c0;
        }

/* LOGO + MENUs */
#container{
    background-color: #fef200;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
    .logo{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu{
        text-align: center;
        margin-top: 45px;
    }
        .menu ul{
            list-style-type: none;
        }
            .menu li{
                font-family: 'Rubik', sans-serif;
                font-size: 20px;
                display: inline-block;
                margin-left: 30px;
            }
                .menu a{
                    color: black;
                    text-decoration: none;
                }

/* SLIDES */
#slider{
    margin: 0 auto;
    width: 850px;
    height: 600px;
    overflow: hidden;
}
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
        .slides input{
            display: none;
        }
    .slide{
        width: 25%;
        position: relative;
    }
        .slide img{
            width: 850px;
        }
    .manual-navigation{
        position: absolute;
        width: 850px;
        margin-top: -45px;
        display: flex;
        justify-content: center;
    }
        .manual-btn{
            border: 2px solid #FFF;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 500ms;
        }
            .manual-btn:not(:last-child){
                margin-right: 20px;
            }
            .manual-btn:hover{
                background-color: #FFF;
            }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }

    .navigation-auto{
        position: absolute;
        width: 850px;
        margin-top: 355px;
        display: flex;
        justify-content: center;
    }
        .navigation-auto div{
            border: 2px solid #20a6ff;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
            .navigation-auto div:not(:last-child){
                margin-right: 20px;
            }
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #FFF;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #FFF;
    }

/* */