*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
/* SEÇÃO INICIAL */
#topo{
    background-color: lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}
    .topic1{
        font-family: "Fabriga";
        font-weight: 700;
        font-size: 14px;
        justify-content: space-around;
        color: black;
        width: 80%;
        display: flex;
}
    .topic2{
        font-family: 'Rubik', sans-serif;
        background-color: #25D366;
        color: white;
        width: 200px;
        height: 30px;
        border: 0px;
        border-radius: 10px;
        font-weight: bolder;
        cursor: pointer;
        margin-right: 1%;
}
        .topic2:hover{
            background-color: #5ad888;
            transform: translateY(-1px);
            transition: 1s;
            box-shadow: 0px 15px 20px #c0c0c0;
        }

/* LOGO + PESQUISA */
